.Weather {
  border: solid 1px rgb(172, 164, 164);
  border-radius: 15px;
  padding-top: 25px;
  margin-top: 50px;
  max-width: 60%;
  margin: 0 auto;
}

#list {
  list-style: none;
  color: rgba(150, 146, 146, 0.808);
}
#details {
  list-style: none;
}
#temp {
  font-size: 40px;
}
form {
  display: block;
  margin: 0 auto;
}
