.Weather {
  border: solid 1px rgb(172, 164, 164);
  border-radius: 15px;
  padding-top: 25px;
  margin-top: 50px;
  max-width: 60%;
  margin: 0 auto;
}

#list {
  list-style: none;

  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}
#details {
  list-style: none;
  color: #70757a;
}
#temperature {
  font-size: 40px;
}
#city {
  max-width: 50%;
  margin: 0 auto;
  display: block;
}
#location {
  margin: 20px;
}
#sub {
  margin: 10px;
}
